@model IEnumerable<GoogleSearchImageTest.Models.SearchResult>

@{
    ViewBag.Title = "Index";
}
<div class="row" ng-controller="mainController as main">
    <div class="col-xs-12 col-sm-6 col-md-8 searh-box" >
        <form name="searchForm" ng-submit="main.doSearch()" class="form-horizontal">
            <div class="input-group col-sm-12">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input type="text" class="form-control" ng-model="main.searchInput">
            </div>

        </form>
        <div class="search-result-items">
            <div ng-repeat="item in main.result.items">
                <div class="search-item col-sm-3" ng-hide="item.Deleted">
                    <div class="img-wrap">
                        <div class="close" ng-click="main.deleteItem(item)">&times;</div>
                        <img src="{{item.src}}" alt="{{item.title}}" class="img-responsive img-thumbnail center-block">
                    </div>
                    <div class="file-name">
                        <a href="{{item.src}}" download>{{item.fileName}} </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="text-center save-result">
            <button type="button" class="btn btn-primary btn-sm" ng-click="main.saveResult()">Save search results</button>
        </div>
    </div>
    <div class="col-xs-6 col-md-4 arch-search">
        @{ Html.RenderPartial("PreviousResults", Model); }
    </div>
</div>